# Ignore LibreOffice/Word lock files# Exclude the Serverless folder entirely
8)\ Serverless-HealthBooking/

# Exclude all LibreOffice/Word lock files

2)\ Enterprise\ Linux\ Administration\ &\ Access\ Control\ Lab/.~lock*
