[submodule "8) Serverless-HealthBooking"]
	path = 8) Serverless-HealthBooking
	url = https://github.com/AhmadAL-Quraan/Serverless-HealthBooking
[submodule "Github-task"]
	path = Github-task
	url = https://github.com/AhmadAL-Quraan/Github-task
[submodule "11) Managing a Project with Git & GitHub/Github-task"]
	path = 11) Managing a Project with Git & GitHub/Github-task
	url = https://github.com/AhmadAL-Quraan/Github-task
[submodule "9) Serverless-HealthBooking"]
	path = 9) Serverless-HealthBooking
	url = https://github.com/AhmadAL-Quraan/Serverless-HealthBooking
[submodule "8) Hosting-Your-Portfolio-on-AWS-S3-with-CloudFront-and-Route-53"]
	path = 8) Hosting-Your-Portfolio-on-AWS-S3-with-CloudFront-and-Route-53
	url = https://github.com/AhmadAL-Quraan/Hosting-Your-Portfolio-on-AWS-S3-with-CloudFront-and-Route-53
[submodule "10) Final/1) HTU-Environment-Rebuild"]
	path = 10) Final/1) HTU-Environment-Rebuild
	url = https://github.com/AhmadAL-Quraan/HTU-Environment-Rebuild
