[submodule "8) Serverless-HealthBooking"]
	path = 8) Serverless-HealthBooking
	url = https://github.com/AhmadAL-Quraan/Serverless-HealthBooking
[submodule "Github-task"]
	path = Github-task
	url = https://github.com/AhmadAL-Quraan/Github-task
[submodule "11) Managing a Project with Git & GitHub/Github-task"]
	path = 11) Managing a Project with Git & GitHub/Github-task
	url = https://github.com/AhmadAL-Quraan/Github-task
